<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control",     prompt: "Seleccione Categoría" %>

  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div id="milliliter_cocks">
    <%= f.fields_for :milliliter_cocks do |milliliter_cock| %>
     <%= render 'milliliter_cock_fields', f: milliliter_cock %>
    <% end %>     
    <div class="links">
      <%= link_to_add_association 'Agregar Licor', f, :milliliter_cocks %>

    </div>
     
  </div>
  
  <div id="ingredient_cocks">
    <%= f.fields_for :ingredient_cocks do |ingredient_cock| %>
     <%= render 'ingredient_cock_fields', f: ingredient_cock %>
    <% end %>     
    <div class="links">
      <%= link_to_add_association 'Agregar Ingrediente', f, :ingredient_cocks %>

    </div>
     
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
