<div class="nested-fields">
   <div class="field">
  
    <%= f.label :licor %>
    <%= f.collection_select :licor_id, Licor.all, :id, :nombre, class: "form-control", prompt: "Seleccione Licor" %>

  </div>
  
  <br>
  <%= f.label :mililitro %><br>
  <%= f.text_field :mililitro %>
   
  <%= link_to_remove_association "Descartar Licor", f %>   
</div>

  
  
