<div class="nested-fields">
  <%= f.label :licor %><br>
  <%= f.text_field :licor %>
  
  <br>
  <%= f.label :mililitro %><br>
  <%= f.text_field :mililitro %>
   
  <%= link_to_remove_association "Descartar Licor", f %>   
</div>

  
  
