<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @licor.nombre %>
</p>

<p>
  <strong>Mililitros:</strong>
  <%= @licor.mililitros %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @licor.valor %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @licor.category_licor.try(:nombre) %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @licor.descripcion %>
</p>

<%= link_to 'Edit', edit_licor_path(@licor) %> |
<%= link_to 'Back', licors_path %>
